In [43]:
import base64
import urllib.request
import pandas as pd

try:
    import json
except ImportError:
    import simplejson as json

class Mixpanel(object):

    ENDPOINT = 'https://mixpanel.com/api'
    VERSION = '2.0'

    def __init__(self, api_secret):
        self.api_secret = api_secret

    def request(self, methods, params, http_method='GET', format='json'):
        """
            methods - List of methods to be joined, e.g. ['events', 'properties', 'values']
                      will give us http://mixpanel.com/api/2.0/events/properties/values/
            params - Extra parameters associated with method
        """

        request_url = '/'.join([self.ENDPOINT, str(self.VERSION)] + methods)
        if http_method == 'GET':
            data = None
            request_url = request_url + '/?' + self.unicode_urlencode(params)
        else:
            data = self.unicode_urlencode(params)

        auth = base64.b64encode(self.api_secret).decode("ascii")
        headers = {'Authorization': 'Basic {encoded_secret}'.format(encoded_secret=auth)}

        request = urllib.request.Request(request_url, data, headers)
        response = urllib.request.urlopen(request, timeout=120)
        str_response = response.read().decode('utf8')
        lines = str_response.splitlines(True)
        records = []
        for line in lines:
            obj = json.loads(line)
            records.append(obj)
        return records

    def unicode_urlencode(self, params):
        """
            Convert lists to JSON encoded strings, and correctly handle any
            unicode URL parameters.
        """
        if isinstance(params, dict):
            params = list(params.items())
        for i,param in enumerate(params):
            if isinstance(param[1], list):
                params.remove(param)
                params.append ((param[0], json.dumps(param[1]),))

        return urllib.parse.urlencode(
            [(k, v) for k, v in params]
        )

In [62]:

# api
encoded_secret = b'8ad9447dce21e1857ce467dd6b86265a'
api = Mixpanel(api_secret=encoded_secret)

# date
from_date = '2018-01-01'
to_date = '2018-03-31'

# Event List
event_list = ['Clicked Apply P2P Invest','Clicked Apply P2P Loan']
event_result_list = []

In [63]:
for event in event_list:
    data = api.request(['segmentation'], {
        'event': event,
        'from_date': from_date,
        'to_date': to_date
    })
    event_result_list.append(data[0]['data']['values'][event]);

print(event_result_list)
#     df = pd.DataFrame(event_result)
#     df
#     print (json.dumps(data[0]['data']['values'][event], indent=4))

[{'2018-01-16': 3, '2018-03-31': 13, '2018-01-08': 13, '2018-01-09': 9, '2018-01-02': 25, '2018-01-03': 20, '2018-01-01': 19, '2018-01-06': 16, '2018-01-07': 12, '2018-01-04': 30, '2018-01-05': 26, '2018-03-28': 13, '2018-03-29': 12, '2018-03-26': 32, '2018-03-27': 28, '2018-03-24': 18, '2018-03-25': 9, '2018-03-22': 51, '2018-03-23': 35, '2018-03-20': 54, '2018-03-18': 30, '2018-01-19': 7, '2018-01-18': 18, '2018-01-11': 19, '2018-01-10': 8, '2018-01-13': 17, '2018-01-12': 10, '2018-01-15': 12, '2018-01-14': 6, '2018-01-17': 11, '2018-03-30': 13, '2018-02-21': 6, '2018-02-20': 4, '2018-02-22': 9, '2018-02-25': 6, '2018-02-24': 15, '2018-02-27': 15, '2018-02-26': 6, '2018-02-28': 10, '2018-03-21': 99, '2018-01-28': 14, '2018-01-29': 30, '2018-01-24': 26, '2018-01-25': 14, '2018-01-26': 26, '2018-01-27': 13, '2018-01-21': 9, '2018-01-22': 15, '2018-01-23': 23, '2018-03-01': 7, '2018-03-03': 14, '2018-03-04': 16, '2018-03-05': 43, '2018-03-06': 33, '2018-03-07': 33, '2018-03-08': 30, '2018-03-09': 11, '2018-03-15': 25, '2018-02-14': 6, '2018-02-15': 3, '2018-02-16': 3, '2018-02-17': 5, '2018-02-10': 8, '2018-02-11': 0, '2018-02-12': 5, '2018-02-13': 7, '2018-02-18': 1, '2018-02-19': 4, '2018-03-14': 35, '2018-02-23': 17, '2018-03-12': 21, '2018-01-31': 30, '2018-01-30': 22, '2018-01-20': 4, '2018-03-17': 47, '2018-03-16': 60, '2018-02-09': 12, '2018-02-08': 11, '2018-03-13': 23, '2018-03-11': 18, '2018-03-10': 5, '2018-02-03': 4, '2018-02-02': 9, '2018-02-01': 19, '2018-02-07': 6, '2018-02-06': 26, '2018-02-05': 20, '2018-02-04': 10, '2018-03-19': 60, '2018-03-02': 29}, {'2018-01-16': 18, '2018-03-31': 3, '2018-01-08': 20, '2018-01-09': 24, '2018-01-02': 31, '2018-01-03': 35, '2018-01-01': 19, '2018-01-06': 7, '2018-01-07': 10, '2018-01-04': 7, '2018-01-05': 16, '2018-03-28': 19, '2018-03-29': 24, '2018-03-26': 19, '2018-03-27': 18, '2018-03-24': 6, '2018-03-25': 6, '2018-03-22': 30, '2018-03-23': 17, '2018-03-20': 13, '2018-03-18': 6, '2018-01-19': 29, '2018-01-18': 35, '2018-01-11': 26, '2018-01-10': 19, '2018-01-13': 8, '2018-01-12': 38, '2018-01-15': 34, '2018-01-14': 12, '2018-01-17': 20, '2018-03-30': 27, '2018-02-21': 23, '2018-02-20': 35, '2018-02-22': 18, '2018-02-25': 15, '2018-02-24': 3, '2018-02-27': 23, '2018-02-26': 11, '2018-02-28': 19, '2018-03-21': 27, '2018-01-28': 6, '2018-01-29': 41, '2018-01-24': 44, '2018-01-25': 22, '2018-01-26': 24, '2018-01-27': 5, '2018-01-21': 4, '2018-01-22': 42, '2018-01-23': 50, '2018-03-01': 12, '2018-03-03': 7, '2018-03-04': 13, '2018-03-05': 19, '2018-03-06': 15, '2018-03-07': 42, '2018-03-08': 17, '2018-03-09': 14, '2018-03-15': 29, '2018-02-14': 21, '2018-02-15': 6, '2018-02-16': 2, '2018-02-17': 0, '2018-02-10': 0, '2018-02-11': 5, '2018-02-12': 23, '2018-02-13': 21, '2018-02-18': 4, '2018-02-19': 25, '2018-03-14': 25, '2018-02-23': 11, '2018-03-12': 20, '2018-01-31': 25, '2018-01-30': 23, '2018-01-20': 6, '2018-03-17': 8, '2018-03-16': 11, '2018-02-09': 23, '2018-02-08': 31, '2018-03-13': 23, '2018-03-11': 4, '2018-03-10': 7, '2018-02-03': 0, '2018-02-02': 29, '2018-02-01': 44, '2018-02-07': 27, '2018-02-06': 31, '2018-02-05': 25, '2018-02-04': 2, '2018-03-19': 65, '2018-03-02': 5}]

In [68]:
df = pd.DataFrame(event_result_list)
df['event'] = event_list
df

,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08,2018-01-09,2018-01-10,...,2018-03-23,2018-03-24,2018-03-25,2018-03-26,2018-03-27,2018-03-28,2018-03-29,2018-03-30,2018-03-31,event
0,19,25,20,30,26,16,12,13,9,8,...,35,18,9,32,28,13,12,13,13,Clicked Apply P2P Invest
1,19,31,35,7,16,7,10,20,24,19,...,17,6,6,19,18,19,24,27,3,Clicked Apply P2P Loan

In [70]:
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df

,event,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08,2018-01-09,...,2018-03-22,2018-03-23,2018-03-24,2018-03-25,2018-03-26,2018-03-27,2018-03-28,2018-03-29,2018-03-30,2018-03-31
0,Clicked Apply P2P Invest,19,25,20,30,26,16,12,13,9,...,51,35,18,9,32,28,13,12,13,13
1,Clicked Apply P2P Loan,19,31,35,7,16,7,10,20,24,...,30,17,6,6,19,18,19,24,27,3